@import 'assets/styles/variables.scss';

.header {
  background-color: $dark-accent;
  width: 100%;
  height: 70px;
  font-family: 'Courier Prime', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 50px;
  button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.theme{
    margin-right: 20px;
}

.authBtn {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
