@import 'assets/styles/variables.scss';

.folder{
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border-radius: $border-radius;
    border: none;
    background-color: $dark-card;
    color: $dark-text;
    font-weight: 600;
}