@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@400;600;700&display=swap');
@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  background-color: $dark-background;
  color: $dark-text;
  overflow-y: hidden;
}

button {
  cursor: pointer;
  color: $dark-text;
}
