$dark-background: #3B444B;
$light-background: #D9D9D9;

$dark-text: #D9D9D9;
$light-text: #2E363E;

$dark-fields: #2E363E;
$light-fields: #8B8B8B;

$dark-card: #3A434E;
$light-card: #AEAEAE;

$dark-workspace: #1A1A1A;
$light-workspace: #F7F7F7;

$dark-accent: #252B32;
$light-accent: #6F6F6F;

$border-radius: 5px;


:root[data-theme="dark"]{
    --background-color: #3B444B;
    --text-color: #D9D9D9;
    --block-background-color: #2E363E;
    --cards-color: #3A434E;
    --workspace-color: #1A1A1A;
    --accent-color: #252B32;
}

:root[data-theme="light"] {
    --background-color: #D9D9D9;
    --text-color: #2E363E;
    --block-background-color: #8B8B8B;
    --cards-color: #AEAEAE;
    --workspace-color: #F7F7F7;
    --accent-color: #6F6F6F;
  }

